doctype html
html
  head
    style.
      html {
        font-family: 'Arial'
      }


  body
    script(src='//ap.lijit.com/www/delivery/fpi.js?z=514691&width=728&height=90')
    h1 Hello World
    h3 Goodbye world